.add-user-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.04);
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

        &:first-child {
            cursor: unset;  
            background-color: transparent; 
        }

        &:last-child {
            border-bottom: none;
        }
    }

    th {
        padding: 16px;
        text-align: start;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 500;
    }

    td {
        height: 48px;
        padding-left: 16px;
    }
}